/* Chain box */
#chain {
  margin-top: 20px;
  padding: 10px;
  background: #cdcdcd; /* lighter grey */
  border-radius: 8px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/* Input section */
.input-section {
  margin: 20px 0;
  text-align: center;
}

.input-section input {
  padding: 10px;
  width: 250px;
}

.buttons {
  margin-top: 10px;
}

.buttons button {
  padding: 10px 20px;
  margin: 5px;
}
